.form-signin{
    margin-top:15vh;
}
.bg-login{
    background:url("../assets/images/login.webp");
    background-size: cover;
    height:100vh;
}
.container{
    width:100%;
}
.loginLogo{
    display: block;
    margin:0 auto;
}